<p style="text-align:center"><font size="+4">Post-IT</font></p>
<br>
<mat-toolbar color="accent">
  <span><a routerLink ='/'>Messages</a></span>
  <ul>
    <li>
      <a routerLink='/create'>New Post</a>
    </li>
  </ul>

  </mat-toolbar>
