<mat-card>
  <form (submit)="onAddPost(postForm)" ngForm #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" placeholder="Title" ngModel required #title="ngModel">
      <mat-error *ngIf="title.invalid">Title Missing</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" placeholder="Content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Content Missing</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save-Post</button>
  </form>
</mat-card>

